@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    overflow-x: hidden;
    font-family: 'Noto Sans Armenian Variable', sans-serif;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


/* ================================ */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(255, 39, 39, 0.603);
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6e0101;
  height: 20px;
  border-radius: 0px;
}

li{
  padding-left: 20px;
  padding-top: 2px;
  /* list-style-type: disc; */
}

ul li:before {
  content: '\2014';
  position: absolute;
  margin-left: -20px;
}

.popup_container a {
  /* text-decoration: underline; */
  color: blue;
}

.lolipop {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
 /* Other transform properties here */
}

p {
  padding-top: 10px;
}